<section class="section experiences-section">
                <h2 class="section-title"><i class="fa fa-briefcase"></i>Experiences</h2>
                
                <div class="item">
                    <div class="meta">
                        <div class="upper-row">
                            <h3 class="job-title">IT Personel and Junior Developer</h3>
                            <div class="time">2011 - Present</div>
                        </div><!--//upper-row-->
                        <div class="company"> BATI COMPUTER, Turkey/İzmir</div>
                    </div><!--//meta-->
                    <div class="details">
                       <p> 
					   I am working on Batı Bilgisayar since 2011.My position Junior developer and IT personal. I'm working on Network systems and enterprise solutions.
					   </p>					   
                    </div><!--//details-->
                </div><!--//item-->
                
                
            </section><!--//section-->