<section class="section projects-section">
                <h2 class="section-title"><i class="fa fa-archive"></i>Projects</h2>
                <div class="intro">
                    <p></p>
                </div><!--//intro-->
                <div class="item">
                    <span class="project-title"><a href="#hook">E-Market</a></span> - <span class="project-tagline">This project makes daily records and trading of financial account records in your market.Market buying sales and financial program</span>
                    
                </div><!--//item-->
                <div class="item">
                    <span class="project-title"><a href="#" target="_blank">Network Discovery</a></span> - 
                    <span class="project-tagline">This project scan local network and It can find MAC IP and PORT status on the network </span>
                </div><!--//item-->
                <div class="item">
                    <span class="project-title"><a href="http://trnpetrol.com" target="_blank">TRN Petrol</a></span> - <span class="project-tagline">Website</span>
                </div><!--//item-->
                <div class="item">
                    <span class="project-title"><a href="#" target="_blank">Batı Bilgisayar</a></span> - <span class="project-tagline">Website </span>
                </div><!--//item-->
            </section><!--//section-->